body {
    background-color: #345;
    font-family: sans;
    margin: 0 auto;
    margin-bottom: 16px;
    width: 600px;
}

a:link {
    color: #123;
}

a:visited {
    color: #153;
}

.header {
    border-bottom: 1px solid;
    position: relative;
}

.header .name {
    float: left;
    margin-top: 0px;
    position: absolute;
    bottom: 0px;
    left: 0px;
}

.header .name h1 {
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.gravatar {
    float: right;
    vertical-align: bottom;
}

.clear {
    clear: both;
}

.nav {
    text-align: center;
}

.nav ul {
    font-weight: bold;
    font-size: small;
    margin-bottom: 0px;
    padding-left: 0px;
}

.nav li {
    background-color: #8c8;
    border: 1px solid black;
    display: inline;
    padding: 2px;
    padding-bottom: 0px;
    position: relative;
    bottom: -4px;
}

.nav li a:link {
    text-decoration: none;
    color: black;
}

.nav li a:visited {
    text-decoration: none;
    color: black;
}

.nav li.active {
    background-color: #58a;
}

.main_content {
    background-color: #8c8;
    border: 1px solid;
    padding: 8px;
}

.main_content h4 {
    background-color: #58a;
    margin: 8px;
    padding: 2px;
    border: 1px solid;
}

.main_content > div {
    border-bottom: 1px dotted;
    padding-bottom: 16px;
}
