body {
    background-color : #345;
    font-family      : sans;
    margin           : 0 auto;
    margin-bottom    : 16px;
    width            : 600px;
}

a:link {
    color : #123;
}

a:visited {
    color : #153;
}

.header {
    border-bottom : 1px solid;
    position      : relative;
}

.header .name {
    bottom     : 0px;
    float      : left;
    left       : 0px;
    margin-top : 0px;
    position   : absolute;
}

.header .name h1 {
    margin-bottom  : 0px;
    padding-bottom : 0px;
}

.gravatar {
    float          : right;
    vertical-align : bottom;
}

.clear {
    clear : both;
}

.nav {
    text-align : center;
}

.nav ul {
    font-size     : small;
    font-weight   : bold;
    margin-bottom : 0px;
    padding-left  : 0px;
}

.nav li {
    background-color : #8c8;
    border           : 1px solid black;
    bottom           : -4px;
    display          : inline;
    padding          : 2px;
    padding-bottom   : 0px;
    position         : relative;
    z-index          : 1;
}

.nav li a:link {
    color           : black;
    text-decoration : none;
}

.nav li a:visited {
    color           : black;
    text-decoration : none;
}

.nav li.active {
    background-color : #58a;
}

.main_content {
    background-color : #8c8;
    border           : 1px solid;
    padding          : 16px;
    position         : relative;
}

.main_content h4 {
    background-color : #58a;
    border           : 1px solid;
    margin           : 0px;
    padding          : 2px;
}

.main_content table {
    border-collapse : collapse;
    font-size       : small;
    width           : 100%;
}

.main_content thead {
    background-color : #58a;
    border-style     : solid;
    border-width     : 1px;
    font-weight      : bold;
}

.main_content th {
    border-style : solid solid none none;
    border-width : 1px;
}

.main_content td {
    border-style : solid none none solid;
    border-width : 1px;
}

.sidebar {
    width : 250px;
    font-size : x-small;
    background-color : #8c8;
    border-style : solid;
    border-width : 1px;
    padding : 8px;
    position : absolute;
    margin-top : 8px;
}

.sidebar h4 {
    background-color : #58a;
    border           : 1px solid;
    margin           : 0px;
    padding          : 2px;
    font-size        : medium;
    text-align       : center;
}

.sidebar h5 {
    background-color : #58a;
    border           : 1px solid;
    margin           : 8px 16px;
    padding          : 2px;
    font-size        : x-small;
    text-align       : center;
}

.sidebar .actions {
    border : 1px solid;
    float : left;
    width : 100%;
}

.sidebar ul {
    padding : 0px;
    list-style-type : none;
}

.sidebar-activity {
    padding : 0px;
    margin : 0px;
}

.sidebar li {
    float : left;
    width : 100%;
}

.sidebar .action.odd {
    background-color : #fff;
}

.sidebar .action {
    background-color : #ddd;
    margin : 0px;
    padding : 4px;
    float : left;
}

.sidebar .date ul {
    margin-right : 8px;
    clear : left;
}

.sidebar dl {
    margin : 4px 0px;
}

.sidebar dt {
    padding : 0px 8px;
    float : left;
    clear : left;
    margin : 0px;
    width : 3em;
}

.sidebar dd {
    float : left;
    padding : 0px;
    padding-left : 4px;
    margin : 0px;
    width : 176px;
}

.github {
    left : -274px;
}

.pinboard {
    left : 604px;
}

.pin-title {
    text-decoration: none;
    font-size: 1.2em;
}

.pin-tag {
    font-size: 0.9em;
}
