<h4>communities i'm a part of</h4>
<p>The <a href="http://moose.perl.org">Moose</a> community was my first introduction to the Perl community as a whole (including my current boss and coworkers), and it's where I spend most of my time doing Perl. I'm an active member of the devteam, having (re)written most of the metaclass compatibility code, as well as having contributed various other bug fixes and features. I've written several Moose extensions as well, including <a href="http://search.cpan.org/~doy/MooseX-NonMoose-0.15/">MooseX::NonMoose</a>.</p>
<p>I started playing <a href="http://crawl.develz.org/">Crawl</a> when the <a href="http://crawl.akrasiac.org/">akrasiac public server</a> was created, and have been playing on and off ever since. I recently became a member of the devteam, and have contributed things like a new level layout for the Lair branch, the new spell "Passage of Golubria", and several other minor features. I also hang out with the <a href="http://offtopic.akrasiac.org/">##crawl-offtopic</a> crowd a bunch.</p>
<p>I've been an off-and-on member of the <a href="http://source.bungie.org">Marathon</a> community for a while, but I <a href="http://clique.jonirons.net/2008/09/4get-mararthon/">4GOT</a>.</p>
<p>I joined the <a href="http://fallingillini.org/">Falling Illini</a> skydiving club in college, and although I've graduated, I still consider <a href="http://www.archwayskydiving.com/">Archway Skydiving</a> to be my home DZ.</p>
<p><a href="http://www.facebook.com/pages/Urbana-IL/Inline-Insomniacs/23716792059">We skate at midnight!</a></p>
