<h4>other communities i'm a part of</h4>
<ul>
    <li><a href="http://moose.perl.org/">Moose</a></li>
    <li><a href="http://crawl.develz.org/">Crawl DevTeam</a></li>
    <li><a href="http://source.bungie.org/">Aleph One</a></li>
    <li><a href="http://fallingillini.org/">Falling Illini</a></li>
    <li><a href="http://www.facebook.com/pages/Urbana-IL/Inline-Insomniacs/23716792059">Inline Insomniacs</a></li>
</ul>
