<h4>contact info</h4>
<ul>
    <li>Email: doy at tozt dot net</li>
    <li>AIM: thedoyster</li>
    <li>IRC: doy (on irc.freenode.net and irc.perl.org)</li>
    <li>XMPP: doy at tozt dot net</li>
    <li>Twitter: <a href="https://twitter.com/doyster">@doyster</a></li>
</ul>
