<h4>contact info</h4>
<ul>
    <li>Email:<ul>
        <li>doy at tozt dot net (personal)</li>
        <li>jesse.luehrs at iinteractive.com (professional)</li>
    </ul></li>
    <li>AIM: thedoyster</li>
    <li>IRC: doy (on irc.freenode.net and irc.perl.org)</li>
</ul>
