<h4>me elsewhere on the internet</h4>
<ul>
    <li><a href="http://github.com/doy">GitHub</a></li>
    <li><a href="http://search.cpan.org/~doy/">CPAN</a></li>
    <li><a href="http://last.fm/user/doyster">last.fm</a></li>
    <li><a href="http://www.couchsurfing.org/people/doy/">CouchSurfing</a></li>
    <li><a href="http://twitter.com/doyster">Twitter</a></li>
    <li><a href="http://www.flixster.com/user/doyster">Flixster</a></li>
    <li><a href="http://taeb.sartak.org/">TAEB</a></li>
    <li><a href="http://interhack.us/">Interhack</a></li>
    <li><a href="http://luaforge.net/users/doy/">LuaForge</a></li>
    <li><a href="http://projecteuler.net/index.php?section=profile&amp;profile=doy">Project Euler</a></li>
    <li><a href="http://alt.org/nethack/plr.php?player=doy">nethack.alt.org</a></li>
    <li><a href="http://crawl.akrasiac.org/scoring/players/doy.html">crawl.akrasiac.org</a></li>
    <li><a href="http://www.kongregate.com/accounts/doyster">Kongregate</a></li>
</ul>
