<h4>talks i've given</h4>
<ul>
    <li><a href="http://yapc2011.us/yn2011/talk/3251">YAPC::NA 2011 - OX - the hardest working two letters in Perl</a> (<a href="/talks/ox_yapc_na_2011/">slides</a>)</li>
    <li><a href="http://yapc2010.com/yn2010/talk/2646">YAPC::NA 2010 - Extending Moose</a> (<a href="/talks/extending_moose_yapc_na_2010/">slides</a>)</li>
</ul>
