<h4>talks i've given</h4>
<ul>
    <li><a href="http://act.yapc.eu/ye2012/talk/4181">YAPC::EU 2012 - Dependency Injection with Bread::Board</a> (<a href="/talks/bread_board_yapc_eu_2012.pdf">slides</a>, <a href="/talks/bread_board_yapc_eu_2012.key">source</a>)</li>
    <li><a href="http://act.yapc.eu/ye2012/talk/4182">YAPC::EU 2012 - TIMTOWTDI in 2012</a></li>
    <li><a href="http://act.yapcna.org/2012/talk/147">YAPC::NA 2012 - Dependency Injection with Bread::Board</a> (<a href="http://youtu.be/DhhaOQWoOpw">video</a>, <a href="/talks/bread_board_yapc_na_2012/">slides</a>, <a href="/talks/bread_board_yapc_na_2012/slides.vroom">source</a>)</li>
    <li><a href="http://yapc2011.us/yn2011/talk/3251">YAPC::NA 2011 - OX - the hardest working two letters in Perl</a> (<a href="/talks/ox_yapc_na_2011/">slides</a>, <a href="/talks/ox_yapc_na_2011/slides.vroom">source</a>)</li>
    <li><a href="http://yapc2010.com/yn2010/talk/2646">YAPC::NA 2010 - Extending Moose</a> (<a href="/talks/extending_moose_yapc_na_2010/">slides</a>, <a href="/talks/extending_moose_yapc_na_2010/slides.vroom">source</a>)</li>
    <li><a href="http://yapc2010.com/yn2010/talk/2647">YAPC::NA 2010 - App::Termcast - share your terminals! (lightning talk)</a></li>
    <li><a href="http://yapc10.org/yn2009/talk/2148">YAPC::NA 2009 - Botting NetHack with TAEB (lightning talk)</a></li>
</ul>
