<h4>work</h4>
I'm currently working for <a href="http://iinteractive.com/">Infinity Interactive</a>, and not seeking another position. My (out of date) resume can be found here:
<br /><br />
<strong><a href="resume.pdf">My resume</a></strong>
<a href="resume.tex" style="font-size: smaller">(LaTeX source)</a>
<a href="resume.txt" style="font-size: smaller">plaintext version</a>
