<h4>work</h4>
<p>
I currently work for <a href="https://stripe.com/">Stripe</a> and am not actively seeking employment. My (not particularly up to date) resume can be found here:
</p>
<p>
<strong><a href="resume.pdf">My resume</a></strong>
<a href="resume.tex" style="font-size: smaller">(LaTeX source)</a>
</p>
