<h4>work</h4>
<p>
I'm currently attending <a href="https://www.hackerschool.com/">Hacker
School</a>, and am looking for work starting in December 2014. My resume can be
found here:
</p>
<p>
<strong><a href="resume.pdf">My resume</a></strong>
<a href="resume.tex" style="font-size: smaller">(LaTeX source)</a>
</p>
